// ==============================================
// BUTTONS
// ==============================================

// Vars
$btnMainBg: #ccc;
$btnMainBorder: $white;
$btnMainHoverBg: #ccc;
$btnMainHoverBorder: #ccc;

// GENERAL BUTTON
.btn {
  @extend .bold;
  @include transition(all 0.2s ease);
  display: inline-block;
  font-size: 16px;
  line-height: 1.2;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  margin: 10px;
  color: $blackTundora;

  // MAIN BUTTON
  &.main-btn {
    line-height: 71px;
    font-size: 21px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 3px solid $white;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.298039) inset, 0 -1px 1px 0 rgba(255, 255, 255, 0.14902) inset, 0 7px 0 0 rgb(187, 187, 187), 0 8px 3px 0 rgba(0, 0, 0, 0.2);
    background-color: $blackTundora;
    color: $white;

    // Icon
    > i {
      color: $white;
      font-size: 50px;
      position: relative;
      top: 10px;
      text-shadow: 0 2px 2px #444;
    }

    &:hover, &:focus {
      background-color: darken($blackTundora, 10%);
    }

    &.active {
      box-shadow: none;
      @include translateY(5px);
    }

  }

  // TWITTER BUTTON
  &.btn-twitter {
    color: $twitter;
    border: 3px solid $twitter;
    background: $white;
    text-transform: none;
    padding: 10px;

    // Twitter icon
    > i {
      margin-right: 5px;
    }
  }

}


// ==============================================
// MOBILE
// ==============================================
@include mobile {

}