// ==============================================
// COUNTDOWN
// ==============================================

#countdown {

	// NUMBERS
	.count-num {
		font-size: 70px;
		display: block;
		margin: 20px auto 0;
		@extend .bold;
	}

	.loader {
		display: block;
		height: 100px;
		width: 100px;
		background: url(../img/loader.gif) no-repeat center center;
		background-size: cover;
		margin: 0 auto;
	}
}